<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/student/{id}(id=${student.getId()})}" th:object="${student}">
    <label for="firstname">Enter FirstName:</label>
    <input type="text" th:field="*{firstname}" id="firstname"/>
    <div style="color: red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name error</div>
    <br/>
    <label for="firstname">Enter LastName:</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Name error</div>
    <br/>
    <label for="age">Enter Age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
    <br/>
    <label for="email">Enter Email:</label>
    <input type="email" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
    <br/>

    <input type="submit" value="Update!"/>
</form>

</body>
</html>