<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>
<form th:method="POST" th:action="@{/student}" th:object="${student}">
    <label for="firstname">Enter FirstName:</label>
    <input type="text" th:field="*{firstname}" id="firstname"/>
    <br/>
    <label for="firstname">Enter LastName:</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <label for="email">Enter Email:</label>
    <input type="email" th:field="*{email}" id="email"/>
    <br/>
    <label for="age">Enter Age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>